{{!-- 
Citations:
Date: 11/16/2024
Structure of code for index.hbs is from Step 3.
Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app
--}}


<main>
    <section>  
        <h2>Overview</h2>
            <article id = "overview">
                <p>The Pokemon universe has been expanding for almost 30 years, and new regions are constantly being explored.</p>
                <p>With the introduction of the latest region, Paldea, there are now over 1,000 Pokemon that can be of 18 different elemental types and also have unique characteristics. </p> 
                <p>Additionally, people from all over the world train these Pokemon and use them in battles.</p>
                <p>With so many species, trainers, and battles to keep track of, it's been increasingly difficult for Team Rocket, a villainous team that wants to capture the most powerful Pokemon for themselves, to plan their next move.</p>
                <p>So, Team Rocket requires a database that will allow them to record details about Pokemon, especially which ones are the rarest and most powerful (classified as Mythical or Legendary).</p>
                <p>This database will also allow them to monitor the affiliations of trainers and other relevant people, record battle outcomes, and track the activities of rival teams.</p>
            </article>
    </section>
</main>